<p id="notice"><%= notice %></p>
<div id="header02" class="clear" style="background-image: url(https://www.seb.lt/sites/default/files/web/backgrounds/bg_green_dark.jpg);">
<h1>Iban verification</h1>
</div>
<div class="box">

<%= form_tag ibans_path, method: :get do %>
  <%= text_field_tag :query,
                      params[:query],
                      placeholder: "Find IBAN"
  %>
    <input type="submit" id="edit-submit" name="op" value="Find" class="form-submit">
<% end %>

<table >

  <tbody>
  <% @ibans.each do |iban| %>
    <tr>
    <td><h5>Found examples</h5></td>
      <td><%= iban.code %></td>
      <td class="btn btn-light"><%= link_to 'Show more information', iban %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

</div>

<div class="btn btn-light">
  <%= link_to 'Download CSV list', ibans_path(format: :csv), :class => "btn" %> |
  <%= link_to 'Add Data from CSV', new_iban_path, :class => "btn"%>

</div>
